
body {
    background-color:#2b2b2b;
}
.navbar.navbar-expand-lg li a{
    margin-left:30px;
    margin-right:30px;
    color:white;
    text-decoration: underline;
    font-family: 'Agency FB', arial;
    position: relative;
    font-size: 38px;
    bottom: 30px;
}
.container.main {
    top: 30px;
    margin-top: 50px;
}
p {

    color:white;
    text-decoration: underline;
    font-family: 'Agency FB', arial;
    position: relative;
    font-size: 38px;
}
article {
    margin-top: 30px;
    color:white;
    font-family: 'Agency FB', arial;
    position: relative;
}
button {
    font-family: 'Agency FB', arial;
    margin-top: 10px;
    width: 400px;
}

.container.fixed-buttom {
     width: 1000px;
     position: sticky;
     border-color: aqua;
     background-color: gainsboro;
 }
#profilephoto {
    width: 100px;
    height: 100px;
}
#styell{
    color:white;
    text-decoration: underline;
    font-family: 'Agency FB', arial;
    position: relative;
    font-size: 12px;
}